.container{
  width: 100%;
  max-width: 500px;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  padding: 15px;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
  }

  @media screen and (min-width:768px){
    padding: 30px;
  }
}

.chart{
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
}

.list{
  width: 100%;
  font-size: 16px;
 
  h2{
    margin-bottom: 1rem;
  }

  ul{
    list-style: none;
  }
}

.title{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h2{
    color: #38AEE6; 
    font-size: 2.5rem;
    &:last-child{
      color: #FFC0CB;
    }

    span{
      font-family: var(--font-body);
      font-size: 1.7rem;
    }
  }
}

.containerList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px; 
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 5rem;              /* width of the entire scrollbar */
    background: #ffc0cbbe;        /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #38afe65a;    /* color of the scroll thumb */
    border-radius: 5rem;       /* roundness of the scroll thumb */
    border: 2px solid transparent;  /* creates padding around scroll thumb */
  }
}

.listBoy{
  color: #007cb6;
}
.listGirl{
  color: #f399a8;
}