.guessForm{
  width: 100%;
  max-width: 500px;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  padding: 30px;
  margin-top: 2rem;
  text-align: center;
  h2{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
  }

  form{
    input{
      width: 100%;
      background: #e8e8e8;
      color: var(--black);
      padding: 0.8rem;
      border: none;
      border-radius: 2rem;

      &::placeholder{
        color: #555555;
      }
    }

    button{
      border: 1px solid transparent;
      font-family: var(--font-body);
      font-size: 1.1rem;
      margin-top: 2rem;

      transition: all 0.3s;   

      &:focus{
        border: 1px solid #555555;
      }
    }

    .genderButtons{
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .submitButton{
      background: #38AEE6;
      color: var(--white);
      border-radius: 2rem;
      &:hover, &:focus{
        background: #FFC0CB;
      }
    }

    .resultButton{
      background: transparent;
      border: 1px solid #38AEE6;
      color: #38AEE6;
      border-radius: 2rem;
      margin-left: 0.5rem;

      &:hover, &:focus{
        border: 1px solid #FFC0CB;
        color: #FFC0CB;
      }

      &:focus{
        border: 1px solid var(--black);
      }
    }
  }
}